# Forçar ficheiros HTML a contar como HTML
*.html linguist-language=HTML

# Forçar ficheiros CSS a contar como CSS
*.css linguist-language=CSS

# Forçar ficheiros JavaScript a contar como JavaScript
*.js linguist-language=JavaScript
